// Variable
$mainColor: #ebebeb;
$accentColor: rgb(157, 177, 167);
$textColor: #8c816e;
//Mixins
@mixin centerFlex($justify){
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin responsive($breakPoint) {
    @if($breakPoint == smMobile){
        @media screen and (max-width: 320px) {
            @content;
        }
    }
    @if($breakPoint == mdMobile){
        @media screen and (max-width: 375px) {
            @content;
        }
    }
    @if($breakPoint == mobile){
        @media screen and (max-width: 760px) {
            @content;
        }
    }
    
}